.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;

  &__side {
    background-color: orangered;
    height: 40rem;
    transition: all 0.8s;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--font {
      background-color: orangered;
    }

    &--back {
      background-color: green;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
